﻿@model MasTest.Program

@{
    ViewData["Title"] = "Employees";
}

<h2>Employees</h2>

<div>
    <h4>Program</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
